@import "~antd/dist/antd.css";
@import url('https://fonts.googleapis.com/css?family=Playfair+Display&display=swap');

.menuBar {
    padding: 4px 20px;
    border-bottom: solid 1px #e8e8e8;
    overflow: auto;
    box-shadow: 0 0 30px #f3f1f1;
}

.logo {
    width: 300px;
    float: left;
}

.logo img {
    width: 300px;
}

.logoDrawer {
    font-family: 'Playfair Display';
    color: #262626;
}

.menuCon {
    width: calc(100% - 300px);
    float: left;
}
.menuCon .ant-menu-item {
    padding: 0px 5px;
}
.menuCon .ant-menu-submenu-title {
    padding: 10px 20px;
}
.menuCon .ant-menu-item a,
.menuCon .ant-menu-submenu-title a {
    padding: 10px 15px;
}
.menuCon .ant-menu-horizontal {
    border-bottom: none;
}
.menuCon .leftMenu {
    float: left;
}
.menuCon .rightMenu {
    float: right;
}
.barsMenu {
    float: right;
    height: 32px;
    padding: 6px;
    margin-top: 8px;
    display: none;
    background: none;
}

.menuBar #menuCon .hamburger {
    display: none;
}

.ant-drawer-body {
    padding: 0;
}
.ant-drawer-body .ant-menu-horizontal > .ant-menu-item,
.ant-drawer-body .ant-menu-horizontal > .ant-menu-submenu {
    display: inline-block;
    width: 100%;
}
.ant-drawer-body .ant-menu-horizontal {
    border-bottom: none;
}
.ant-drawer-body .ant-menu-horizontal > .ant-menu-item:hover {
    border-bottom-color: transparent;
}

@media (max-width: 767px) {
    .menuBar #menuCon .hamburger {
        display: block;
        float: right;
        margin-top: 12px;
        padding-top: 3px;
        width: 43px;
        height: 40px;
    }
    .hamburger i, .hamburger svg {
        font-size: 28px;
    }

    .barsMenu {
        display: inline-block;
    }
    .leftMenu,
    .rightMenu {
        display: none;
    }
    .logo a {
        margin-left: -20px;
    }
    .menuCon .ant-menu-item,
    .menuCon .ant-menu-submenu-title {
        padding: 1px 20px;
    }
    .logo a {
        padding: 10px 20px;
    }
}
